@page "/accessdenied"

<PageTitle>Access Denied - Forms</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="mt-12 text-center">
    <MudPaper Class="pa-6">
        <MudText Typo="Typo.h4" Color="Color.Error" GutterBottom="true">
            Access Denied
        </MudText>
        <MudText Typo="Typo.body1" GutterBottom="true">
            You do not have permission to access this page. If you believe this is an error, please contact the administrator.
        </MudText>
        <div class="mt-4">
            <MudButton  Variant="Variant.Filled" Color="Color.Primary" OnClick="NavigateBack">
                Go back
            </MudButton>
            <MudButton Variant="Variant.Text" OnClick="NavigateHome">
                Home
            </MudButton>
        </div>
    </MudPaper>
</MudContainer>
